html,
body {
  background-color: #eee;
  padding: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  #__next,
  .topContainer {
    all: inherit;
  }

  #goHome {
    cursor: pointer;
  }
}

header {
  top: 0;
  background-color: white;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  h1 {
    margin: 0;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  &#index {
    width: 100%;
    #newestRequestsArea {
      h3 {
        border-bottom: 1px solid #ccc;
      }
    }
  }
  &#signIn {
    flex: 1;
  }
}
