html,
body {
  background-color: #eee;
  padding: 0;
  flex-direction: column;
  margin: 0;
  width: 100%;
  font-family: a-otf-ud-shin-go-pr6n, sans-serif;
  font-weight: 300;
  font-style: normal; // font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  #__next {
    all: inherit;
  }
  .topContainer {
    all: inherit;
    display: flex;
    flex-direction: column;
    .menuHeader,
    .menuBody {
      display: none;
    }
    &.common {
      display: grid;
      grid-template:
        "header         header      "
        "menu-header    content-head" auto
        "menu-body      content     " 1fr;
      grid-template-columns: 260px 1fr;
      @media screen and (max-width: 1024px) {
        grid-template-columns: 220px 1fr;
      }
      .menuHeader {
        display: block;
        grid-area: menu-header;
        border-bottom: 1px solid #ccc;
        border-right: 1px solid #ccc;
      }
      .menuBody {
        border-right: 1px solid #ccc;
        display: block;
        grid-area: menu-body;
      }
      .contentHeader {
        grid-area: content-head;
        display: flex;
        align-items: center;
        flex-direction: row;
        border-bottom: 1px solid #ccc;
        padding-left: 30px;
      }
      background-color: white;
      main {
        grid-area: content;
      }
    }
    header {
      top: 0;
      background-color: white;
      border-bottom: 1px solid #ccc;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 60px;
      h1 {
        margin: 0;
      }
    }
    main {
      align-items: center;
      justify-content: center;
      &#index {
        flex-direction: column;
        width: 100%;
        #newestRequestsArea {
          h3 {
            border-bottom: 1px solid #ccc;
          }
        }
      }
      &#signIn {
        flex: 1;
      }
      &#singleTradeRequest {
        display: flex;
        .contentSection {
          display: flex;
          flex-direction: column;
          .title {
            font-size: 12px;
          }
          .content {
            font-size: 32px;
          }
        }
        .headers {
          display: flex;
          align-items: flex-start;
          justify-content: center;
        }
        .thanksH {
          grid-area: thanks-h;
        }
        .pictureH {
          grid-area: pictures-h;
        }
        .pictureB {
          grid-area: pictures-b;
        }
        .messageH {
          grid-area: message-h;
        }
        .messageB {
          grid-area: message-b;
        }
        .vDivider {
          grid-area: v-divider;
          width: 100%;
          height: 100%;
          background-color: #ddd;
        }
        .titleH {
          grid-area: title-h;
        }
        .productInfoH {
          grid-area: product-info-h;
        }
        .productInfoB {
          grid-area: product-info-b;
          display: flex;
          flex-wrap: wrap;
          gap: 15px;
          .dubbleBlock {
            small {
              font-size: 11px;
            }
            h2 {
              white-space: nowrap;
              padding-left: 20px;
            }
          }
        }
        .titleB {
          grid-area: title-b;
        }
        @media screen and (max-width: 1024px) {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          flex-direction: column;
          gap: 20px;
          .vDivider {
            width: 0;
            visibility: hidden;
            position: fixed;
          }
          > div {
            padding-left: 40px;
          }
          .headers {
            justify-content: flex-start;
            padding-left: 20px;
          }
        }
      }
      &#tradeMain {
        .forMobile {
          display: none;
        }
        height: calc(100vh - 60px);
        display: flex;
        flex-direction: row;
        gap: 10px;
        padding: 10px;
        > div {
          height: 100%;
        }
        #chatRoom {
          min-width: 280px;
          .messageArea {
            .message {
              display: inline-flex;
              padding: 5px;
              border-radius: 5px;
              margin: 10px;
              margin-right: 0;
              font-size: 13px;
            }
            .timeStamp {
              font-size: 11px;
            }
            &.own {
              .message {
                border-top-right-radius: 0;
                background-color: #ccc;
              }
            }
            &.other {
              .message {
                border-top-left-radius: 0;
                background-color: #ccc;
              }
            }
          }
        }

        #tradeInfoArea {
          padding: 10px;
          max-width: 400px;
          flex: 1;
        }
        @media screen and (max-width: 480px) {
          .forMobile {
            display: initial;
          }
          padding: 0;
          flex-direction: column;
          #chatRoom {
            min-width: 100%;
            &.not-expanded {
              max-height: 60px;
              *:not(.forMobile.expandButton) {
                display: none;
              }
            }
            &.expanded {
              .expandButton {
              }
            }
          }
          #tradeInfoArea {
            max-width: initial;
            width: 100%;
            &.expanded {
              .expandButton {
                display: none;
              }
            }
            &.not-expanded {
              display: none;
              *:not(.forMobile.expandButton) {
                display: none;
              }
            }
          }
        }
      }
    }
  }

  #goHome {
    cursor: pointer;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 300ms;
  &:hover {
    color: #3789be;
  }
}

* {
  box-sizing: border-box;
}

#basic-menu {
  ul {
    padding: 0;
  }
}
